
<%- include("partials/header"); -%>


 <div class="container-fluid pt-4 text-left">
    <div class="card">
        <div class="card-body">
               <h3><b>Name: </b>  <%=FName%> <%=LName%></h3>
               <h3><b>Gender: </b>  <%=Gender%></h3>
               <h3><b>City: </b>  <%=City%></h3>
               <h3><b>State: </b>  <%=State%></h3>
               <h3><b>Zip: </b>  <%=Zip%></h3>
               <h3><b>Address: </b>  <%=Address%></h3>
            <h4> <b> Need help In:</b></h4>  <%=content%>
        </div>
      </div>
 </div>

 <p><a class="btn btn-outline-success btn-lg mt-5" href="/home">Back</a></p>




<%- include("partials/footer"); -%>
